<%= window_team %>

<%- include('./window_head', {window_head: '',window_type:window_type}) %>  

<%- include('./window_aside_bottom', {window_a_b: ''}) %> 


<section class="window_content">

        <div class="profile">
            <img class="profile_bg" src="<%= data_k?.avatar %>" alt="profile background image" >
            <div><img src="<%= data_k?.avatar %>" alt="avatar"></div>
            <h2><%= data_k?.name %></h2>
            <h3><%= data_k?.surname %></h3>
            <ul class="info">
                <li><a href=<%= data_k?.website %>>Github</a></li>
                
                <li><legend> squad-id</legend><p><%= data_k?.squad_id %></p></li>
            </ul>
            
        </div>

        <div class="profile">
            <img class="profile_bg" src="<%= data_c.avatar %>" alt="profile background image" >
            <div><img src="<%=data_c.avatar %>" alt="avatar"></div>
            <h2><%= data_c.name %></h2>
            <h3><%= data_c.surname %></h3>
            <ul class="info">
                <li><a href=<%= data_c.website %>>Github</a></li>
                
                <li><legend> squad-id</legend><p><%= data_c.squad_id %></p></li>
            </ul>
            
        </div>
        <div class="profile">
            <img class="profile_bg" src="<%= data_v?.avatar %>" alt="profile background image" >
            <div><img src="<%= data_v?.avatar %>" alt="avatar"></div>
            <h2><%= data_v?.name %></h2>
            <h3><%= data_v?.surname %></h3>
            <ul class="info">
                <li><a href=<%= data_v?.website %>>Github</a></li>
                
                <li><legend> squad-id</legend><p><%= data_v?.squad_id %></p></li>
            </ul>
            
        </div>
    
        
   


</section>