<%= window_squad %>

<%- include('./window_head', {window_head: ''}) %>  

<section class="window_content game-element-fir">


    <!-- <dialog open class="intro_screen">
            <h1>Choose your character</h1>
            
            <p>the description </p>

            <form method="dialog">
                <button class="to_squad">Let's go</button>
            </form>

    </dialog> -->

    <!-- <a href="/">Back</a>
    <h1>Students of <%= data.squad_id %></h1>
    
    <ul>
        <% persons.forEach(person => { %>
            <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %>,<%= person.prefix %></li>
        <% }) %>
    </ul> -->


    <section class="squad_filter">
        <h2>Filter</h2>
        <ul class="squad_filter_box pixel-corners">
            <!-- squad.id 3 -->
            <li>
                <p>squad <%= data.squad_id %></p>
               <form action="/views/partials/window_squad.ejs" method="post">
                    <button type="submit"> X</button>
               </form>
            </li>
            <!-- squad.id 4 -->
            <li>
                <p>squad <%= data.squad_id %></p>
            </li>
            <!-- squad.id 5 -->
            <li>
                <p>squad <%= data.squad_id %></p>
            </li>
            <!-- teachers -->
            <li>
                <p>squad <%= data.squad_id %> teachers</p>
            </li>
        </ul>
    </section>

    
<!--
    <ul class="squad_filter">
        <!-- squad.id 3 -->
        <li>
            <p>squad <%= data.squad_id %></p>
           <form class="elmt" action="/" method="post">

            <!-- <label for="water">
                <input type="radio" name="water" id="water" value="1">
                    <p>water</p>
                </input>
            </label>
            <label for="fire">
                <input type="radio" name="fire" id="fire" value="2">
                    <p>fire</p>
                </input>
            </label>
            <label for="earth">
                <input type="radio" name="earth" id="earth" value="3">
                    <p>earth</p>
                </input>
            </label>
            <label for="wind">
                <input type="radio" name="wind" id="wind" value="4">
                    <p>wind</p>
                </input>
            </label> -->


                <button type="submit"> X</button>
                
           </form>
        </li>
        <!-- squad.id 4 -->
        <li>
            <p>squad <%= data.squad_id %></p>
        </li>
        <!-- squad.id 5 -->
        <li>
            <p>squad <%= data.squad_id %></p>
        </li>
        <!-- teachers -->
        <li>
            <p>squad <%= data.squad_id %> teachers</p>
        </li>
    </ul>
-->

    <!-- her you can choose your person/character -->
    <section class="character_grid">
        <h1>Choose your character</h1>
        <ul class="character_grid_characters pixel-corners">
            <% if ( data.squad_id == 3 ) { %>
              
                <li><%= data.id %> 3</li>
            
            <% } else if ( data.squad_id == 4) { %>
                <li>4</li>
            <% } else if ( data.squad_id == 5) { %>
                    <li>5</li>
            <% } else  { %>
                <h1>choose squad</h1>
            <% } %>
        </ul>
    </section>


    <!-- here you see the selected person/character -->
    <article class="selected_character">
        <div>
            <img src="" alt="">
            <div>987654</div>
        </div>
        <ul>
            <li>12345</li>
            <li>234567</li>
        </ul>
    </article>


         
    












    <div class="fullscreen_btn">
        <input type="checkbox" id="full_b">
        <!-- max -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-maximize" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 4l4 0l0 4" /><path d="M14 10l6 -6" /><path d="M8 20l-4 0l0 -4" /><path d="M4 20l6 -6" /><path d="M16 20l4 0l0 -4" /><path d="M14 14l6 6" /><path d="M8 4l-4 0l0 4" /><path d="M4 4l6 6" /></svg>
        
        <!-- min -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-minimize" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 9l4 0l0 -4" /><path d="M3 3l6 6" /><path d="M5 15l4 0l0 4" /><path d="M3 21l6 -6" /><path d="M19 9l-4 0l0 -4" /><path d="M15 9l6 -6" /><path d="M19 15l-4 0l0 4" /><path d="M15 15l6 6" /></svg>
        
        
    </div>

</section>



