<%- include('./partials/head') %>

<a href="/">Back</a>

<h2><%= person.name %></h2>

<p>Squad: <%= person.squad_id %>
<p>Id: <%= person.id %>

<img src="<%= person.avatar %>" alt="">

<%- include('./partials/foot') %>